.btn {
  width: 350px;
  padding: 16px 0;
  margin-top: 16px;
  border: 0;
  border-radius: 4px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn--normal {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--normal:hover {
  background-color: #326ac6;
}
