.categories {
  display: flex;
  flex-direction: column;
  margin-bottom: -20px;
}

.categories__title {
  margin-left: -7px;
  margin-bottom: 16px;
}

.categories__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  padding: 0;
  margin-bottom: 40px;
  gap: 30px;
}

.categories__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories__icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.categories__icon--podcasts {
  background-color: var(--color-complementary-yellow);
}

.categories__icon--rock {
  background-color: var(--color-complementary-red);
}

.categories__icon--pagode {
  background-color: var(--color-complementary-green);
}

.categories__text {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0px;
  color: #737373;
  text-align: center;
}
