.menu-bar,
.menu-bar--intern {
  min-width: 375px;
  display: flex;
  align-items: center;
  padding: 16px 12px;
  justify-content: space-between;
  background-color: var(--color-white);
}

.menu-bar--playlist {
  background-color: var(--color-light-gray);
}

.menu-bar__left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-bar__title {
  margin-bottom: 0;
}
