.music-player {
  max-width: 351px;
  padding: 17px 22px;
  margin: 95px auto 13px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f1f1f;
  color: #fff;
  border-radius: 9px;
}

.music-player__title {
  margin-bottom: 8px;
  font-weight: 700;
}

.music-player__subtitle {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.music-player__controls {
  display: flex;
  align-items: center;
  gap: 16px;
}

.music-player__backwards,
.music-player__toggle,
.music-player__forwards {
  background-color: transparent;
  border: 0;
}
